/* &display=swap */

@import "null.css";

/* подключение шрифта NeoTech (webfonts.pro)
@font-face {
	font-family: "NeoTech";
	src: url("../fonts/NeoTech.woff2") format("woff2"), url("../fonts/NeoTech.woff") format("woff");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
*/
@font-face {
	font-family: "LeMondeLivre";
	src: url("../fonts/LeMondeLivre-Normal.woff2") format("woff2"),
		url("../fonts/LeMondeLivre-Normal.woff") format("woff");
	font-style: normal;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "LeMondeLivre-Italic";
	src: url("../fonts/LeMondeLivre-Italic.woff2") format("woff2"),
		url("../fonts/LeMondeLivre-Italic.woff") format("woff");
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}
@font-face {
	font-family: "LeMondeLivre-ItalicClassic";
	src: url("../fonts/LeMondeLivre-ItalicClassic.woff2") format("woff2"),
		url("../fonts/LeMondeLivre-ItalicClassic.woff") format("woff");
	font-style: italic;
	font-weight: normal;
	font-display: swap;
}

@font-face {
	font-family: "LeMondeLivre-Bold";
	src: url("../fonts/LeMondeLivre-Bold.woff2") format("woff2"), url("../fonts/LeMondeLivre-Bold.woff") format("woff");
	font-style: normal;
	font-weight: 700;
	font-display: swap;
}

body {
	font-family: "LeMondeLivre", serif;
	width: 1000px;
	margin: 0 auto;
	background-color: rgba(182, 175, 175, 0.3);
}

/* ================================================================ */
.wrapper {
	min-height: 500px;
	overflow: hidden;
	background-color: rgba(112, 117, 122, 0.164);
}
/* ================================================================ */

.content__header {
	margin: 0 0 30px 0;
}
.menu {
	padding: 20px 0 0 20px;
}
.content__header span {
	padding: 0 40px 0 0;
	color: rgb(67, 129, 148);
	text-decoration: underline;
}
.content__top {
	margin: 0 0 20px 0;
}
.top__title {
	font-family: "LeMondeLivre-Bold", serif;
	text-align: center;
	font-size: 30px;
	font-weight: 700;
	color: rgb(80, 145, 175);
	margin: 0 0 10px 0;
	text-shadow: 1px 1px 1px rgb(145, 213, 240);
}
.top__text {
	font-size: 20px;
	line-height: 20px;
	text-align: justify;
	margin: 0 0 10px 0;
	padding: 0 10px 0 10px;
}
.top__image img {
	width: 100%;
	height: 100px;
}
.content__about {
	border: 1px solid #000;
	height: 1000px;
	overflow: auto;
	background-color: aliceblue;
	margin: 0;
}
.title {
	font-family: "LeMondeLivre-Bold", serif;
	font-weight: 600;
	text-align: center;
	font-size: 25px;
	margin: 0 0 10px 0;
	color: green;
}
.text {
	padding: 0 20px 0 20px;
}
.content__history {
	margin: 0 0 25px 0;
}
.history__title h2 {
	padding: 150px 0 0 0;
	display: inline-block;
	color: green;
}
.history__title img {
	height: 300px;
	padding: 0 100px 0 0;
}
.history__text {
	font-size: 20px;
	line-height: 22px;
	text-align: justify;
}
.content__invention {
	margin: 0 0 20px 0;
}
.invention__text {
	font-size: 20px;
	line-height: 22px;
	text-align: justify;
	font-family: "LeMondeLivre-ItalicClassic", serif;
	font-style: italic;
}
.invention__text p {
	margin: 0 0 5px 0;
}
.invention__image img {
	width: 500px;
	height: 300px;
}
.content__structure {
	margin: 0 0 10px 0;
}
.structure__text {
	font-size: 20px;
	line-height: 22px;
	text-align: justify;
}
.structure__text p {
	margin: 0 0 10px 0;
}
.structure__image {
	margin: 0 0 10px 0;
}
.structure__image img {
	width: 100%;
	height: 400px;
}
.structure__details {
	margin: 0 0 10px 0;
}
.details__list {
	padding: 0 0 0 35px;
}
.details__list li {
	font-size: 18px;
	line-height: 25px;
}
.structure__work {
	padding: 0 0 0 35px;
	margin: 0 0 30px 0;
}
.work__list li {
	font-size: 18px;
	line-height: 20px;
	font-family: serif;
	margin: 0 0 10px 0;
}
.content__results {
	margin: 0 0 20px 0;
}
.results__text {
	font-family: "LeMondeLivre-ItalicClassic", serif;
	font-style: italic;
	font-size: 18px;
	line-height: 22px;
	text-align: justify;
	padding: 0 20px 0 20px;
}
.link__up {
	text-align: center;
	font-size: 25px;
	color: blue;
}
.footer {
	min-height: 100px;
	background-color: azure;
}
.footer__signature {
	padding: 30px 0 0 20px;
	text-decoration: underline;
	font-size: 20px;
	font-size: 18px;
	color: rgb(172, 48, 48);
}
.span__center {
	padding: 0 0 0 70px;
}
.span__link {
	padding: 0 0 0 70px;
}
